{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container text-center">
    {% if user.is_authenticated %}
        <div class="alert alert-success text-left">You are already logged in</div>
    {% endif %}
    {% if not user.is_authenticated %}
  <div class="mb-5"><h5>Service Provider Registration</h5></div>
  <br/>

  <div class="row">
    <div class="col border-right">
      <p>Login to your service provider account</p>
    <form class="ml-5 pl-5 mr-5 pr-5" method="post">
      {%csrf_token%}
                    <div class="table">
                        <div class="row">
                            <div class="col">
                                {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                <div class="alert alert-danger text-left">{{ error }}</div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                    {% for field in form %}
                            <div class = "row">
                                <div class = "col mb-2"><label>{{field.label}}</label></div>
                                <div class = "col mb-2">{{field}}</div>
                             </div>
                    {% endfor %}
                    <div class = row>
                        <div class="col" colspan="2">

                    <button class="btn btn-primary w-25" type="submit">Login</button></div>
                    </div>
                    </div>

    </form>
    </div>
    <div class="col border-left">
      <p>New service provider? Click to register</p>
      <p><a class="btn btn-primary" href="signup">Register</a></p>
    </div>
  </div>
    {% endif %}
</div>
{% endblock %}