{% extends "base.html" %}

{% block content %}
<div class="container w-25">
    {% if user.is_authenticated %}
        <div class="alert alert-success text-left">You are already logged in</div>
    {% endif %}
    {% if not user.is_authenticated %}
    <h6 class="text-center">Provider Registration</h6>
        <br/>
    <form method="post">
      {%csrf_token%}
                    <div class="table">
                        {% if message %}
                        <div class="row">
                            <div class="col">
                                <div class="alert alert-danger">{{message}}</div>
                            </div>
                        </div>
                        {% endif %}
                    {% for field in form %}
                            <div class = "row">
                                <div class = "col mb-2"><label>{{field.label}}</label></div>
                                <div class = "col mb-2">{{field}}</div>
                             </div>
                    {% endfor %}
                    <div class = "row mt-4 pt-2">
                        <div class="col"><a class="btn btn-warning btn-block" href="/">Cancel</a></div>
                        <div class="col"><button class="btn btn-primary btn-block" type="submit" class='save button'>Next</button></div>
                    </div>
                    </div>
    </form></div>
    {% endif %}
{% endblock %}