{% extends "base.html" %}
{% block content %}
            <div class="container w-90">
                    <div class="row justify-content-start">
                    {% for kitchen in kitchens %}
                    <div class="col margin_card">
                        <div class="card" style="width: 14rem;">
                                <a href="/provider/{{kitchen.provider_id.id}}"><img class="card-img-top item_image" src="/media/{{kitchen.kit_image }}" alt="Card image cap"></a>
                                <div class="card-body">
                                <p class="card-text text-center">{{kitchen.provider_id.name}}</p> <!-- Access foriegn key data on other table -->
                                </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
        </div>
{% endblock %}
